---
import { getCollection } from 'astro:content';
import BaseLayout from '../../layouts/BaseLayout.astro';

const title = 'Blogposts from 11ty';
const description = 'This is a list of posts written on my old site. You probably didn\'t mean to get here but that\'s ok.';
const permalink = `${Astro?.site?.href}blog`;

let allPosts = await getCollection('blog');
let allReleases = await getCollection('releases');
let everything = allPosts
  .filter(a => a.data.from11ty)
  .sort((a, b) => new Date(b.data.publishDate).valueOf() - new Date(a.data.publishDate).valueOf());
---

<BaseLayout title={title} description={description} permalink={permalink} current="blog">
  <div class="container">
    <h1>The Vault!</h1>
    <p>{description}</p>
    <p>The links below will take you to the new versions of each post. Or, you can just <a href="/blog">go to the Blog page</a>.</p>
    {everything.map((post, index) => {
      const href = `/posts/${post.slug}`;
      return (
        <div>
          { index !== 0 && <hr /> }
          <div class="post-item">
            <h2>
              <a href={href}>{post.data.title}</a>
            </h2>
            <p>{post.data.description}</p>
            <div class="post-item-footer">
              <span class="post-item-date">— {post.data.publishDate}</span>
            </div>
          </div>
        </div>
      )
    })}
  </div>
</BaseLayout>

<style>
  .post-item-footer {
    font-family: var(--font-family-sans);
    font-weight: 700;
  }

  .post-item-date {
    color: var(--text-secondary);
    text-align: left;
    text-transform: uppercase;
    margin-right: 16px;
  }

  hr {
    margin: 60px auto;
  }
</style>
