---
import BaseLayout from '../../layouts/BaseLayout.astro';
import Tag from '../../components/Tag.astro';
import BlogCard from '../../components/BlogCard.astro';

import getTags from '../../utils/getTags';

const title = 'Blog';
const description = 'I mainly write about web development, management, and working in tech. But maybe you\'ll find something else, who knows?';
const permalink = `${Astro.site.href}blog`;

let allPosts = await Astro.glob('../../data/blog-posts/*.md');
allPosts = allPosts.sort((a, b) => new Date(b.frontmatter.publishDate).valueOf() - new Date(a.frontmatter.publishDate).valueOf());
let {tagCount: tags} = getTags(allPosts.map(a => ({tags: a.frontmatter.tags})));

const sortedTags = Object.fromEntries(
    Object.entries(tags).sort(([,va],[,vb]) => vb - va)
);

---

<BaseLayout title={title} description={description} permalink={permalink} current="blog">
  <div class="container wide">
    <h1>Blog</h1>
    <p>{description}</p>
    <h3>Top tags</h3>
    <ul>
      {
        Object.entries(sortedTags).slice(0,7).map(([tag,]) => <li><Tag text={tag} link={`/tags/${tag}`} /></li>)
      }
      <li>
        <a href="/tags">Browse by tags ⟶</a>
      </li>
    </ul>
    <div class="grid">
      {allPosts.map((post) => {
        const href = `/blog/${post.file.split('/').pop().split('.').shift()}`;
        if (post.frontmatter.tags.includes('release')) return false;
        const postImage = (post.frontmatter.socialImage !== undefined) ? post.frontmatter.socialImage : 'assets/social.jpg';
        const socialImageAlt = (post.frontmatter.socialImageAlt !== undefined) ? post.frontmatter.socialImageAlt : `alt text is missing for ${post.frontmatter.title} social image. Please let me know.`;

        return (
          <BlogCard
            href={href}
            title={post.frontmatter.title}
            description={post.frontmatter.description}
            publishDate={post.frontmatter.publishDate}
          >
            <img class="post-image" slot="postImage" src={`/${postImage}`} alt={socialImageAlt} />
          </BlogCard>
        )
      })}
    </div>
    <p class="home"><a href="/blog">Browse the Blog ⟶</a></p>
  </div>
</BaseLayout>

<style>
  .post-item-footer {
    font-family: var(--font-family-sans);
    font-weight: 700;
  }

  .post-item-date {
    color: var(--text-secondary);
    text-align: left;
    text-transform: uppercase;
    margin-right: 16px;
  }

  hr {
    margin: 60px auto;
  }
  ul {
    margin: 0;
    padding: 0;
  }

  li {
    display: inline-block;
    margin: 0 0 0.5em 0.5em;
  }

  li a {
    font-size: 1rem;
    font-family: var(--font-family-sans);
    text-decoration: none;
  }

  h2 {
    margin-bottom: 1.2em;
  }
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1.2rem;
    row-gap: 1.2rem;
  }

  @media (max-width: 800px) {

    .grid {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr;
    }
  }
</style>
