---
import BaseLayout from '../../layouts/BaseLayout.astro';
import Tag from '../../components/Tag.astro';

import getTags from '../../utils/getTags';

const title = 'Blog';
const description = 'Look, I figure if I write these things down somewhere, hopefully I\'ll learn something. Enjoy.';
const permalink = `${Astro.site.href}blog`;

let allPosts = await Astro.glob('../../data/blog-posts/*.md');
allPosts = allPosts.sort((a, b) => new Date(b.frontmatter.publishDate).valueOf() - new Date(a.frontmatter.publishDate).valueOf());
const featuredPost = allPosts.find(post => post.frontmatter.featured);
let {tagCount: tags} = getTags(allPosts.map(a => ({tags: a.frontmatter.tags})));

const sortedTags = Object.fromEntries(
    Object.entries(tags).sort(([,va],[,vb]) => vb - va)
);

---

<BaseLayout title={title} description={description} permalink={permalink} current="blog">
  <div class="container">
    <h1>Blog</h1>
    <p>{description}</p>
    <h3>Top tags</h3>
    <ul>
      {
        Object.entries(sortedTags).slice(0,5).map(([tag,]) => <li><Tag text={tag} link={`/tags/${tag}`} /></li>)
      }
      <li>
        <a href="/tags">Browse by tags ⟶</a>
      </li>
    </ul>
    { featuredPost &&
        <h2>Featured Post</h2>
        <div class="featured">
          <figure>
            <img src={`/${featuredPost.frontmatter.socialImage}`} alt={featuredPost.frontmatter.metaDescription} />
          </figure>
          <div class="post-item">
            <h3>
              <a href={`/blog/${featuredPost.file.split('/').pop().split('.').shift()}`}>{featuredPost.frontmatter.title}</a>
            </h3>
            <p>{featuredPost.frontmatter.description}</p>
            <div class="post-item-footer">
              <span class="post-item-date">— {featuredPost.frontmatter.publishDate}</span>
            </div>
          </div>
        </div>
    }
    {allPosts.map((post, index) => {
      const href = `/blog/${post.file.split('/').pop().split('.').shift()}`;
      if (post.frontmatter.tags.includes('release')) return false;
      return (
        <div>
          { index !== 0 && <hr /> }
          <div class="post-item">
            <h2>
              <a href={href}>{post.frontmatter.title}</a>
            </h2>
            <p>{post.frontmatter.description}</p>
            <div class="post-item-footer">
              <span class="post-item-date">— {post.frontmatter.publishDate}</span>
            </div>
          </div>
        </div>
      )
    })}
  </div>
</BaseLayout>

<style>
  .post-item-footer {
    font-family: var(--font-family-sans);
    font-weight: 700;
  }

  .post-item-date {
    color: var(--text-secondary);
    text-align: left;
    text-transform: uppercase;
    margin-right: 16px;
  }

  hr {
    margin: 60px auto;
  }
  ul {
    margin: 0;
    padding: 0;
  }

  li {
    display: inline-block;
    margin: 0 0 0.5em 0.5em;
  }

  li a {
    font-size: 1rem;
    font-family: var(--font-family-sans);
    text-decoration: none;
  }

  .featured {
    border: 1px solid var(--primary-color);
    margin-bottom: 4em;
    margin-top: 2em;
    padding: 2rem 1.5rem;
    box-shadow: -5px 5px 0 var(--primary-color-transparent);
  }
</style>
