---
import { getCollection } from 'astro:content';
import BaseLayout from '../../layouts/BaseLayout.astro';
import getTags from '../../utils/getTags';
import Tag from '../../components/Tag.astro'

const title = 'Tags';
const description = 'A list of tags associated with my blogposts to help you browse them better.';
const permalink = `${Astro.site.href}tags`;

let allPosts = await getCollection('blog');

let {tagCount: tags} = getTags(allPosts.map(a => ({tags: a.data.tags})));

const sortedTags = Object.fromEntries(
    Object.entries(tags).sort(([,va],[,vb]) => vb - va)
);

---

<BaseLayout title={title} description={description} permalink={permalink} current="blog">
  <div class="container">
    <h1>Tags</h1>
    <p>{description}</p>
    <ul class="tag-list">
      {
        Object.keys(sortedTags).map((tag) => (
          <li>
            <Tag text={tag} link={`/tags/${tag}`} count={tags[tag]} />
          </li>
        ))
      }
    </ul>
  </div>
</BaseLayout>

<style>
  ul {
    margin: 0;
    padding: 0;
  }

  li {
    display: inline-block;
    margin: 0 0 0.5em 0.5em;
  }
</style>
