---
import { getCollection } from 'astro:content';
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogRollItem from '../components/BlogRollItem.astro';
import Foreword from '../components/Foreword.astro';

const title = 'Blogroll';
const description = 'A list of blogs and websites I frequent or find interesting';
const permalink = `${Astro?.site?.href}blogroll`;

const roll = await getCollection('blogroll');

const unroll = (category: string) => {
    const output = roll.map(r => {
        const path: string[] = r.id.split('/')
        if (path[0] === category) {
            return r;
        }
    });

    if (output.length === 0 || output === undefined ) {
        return false;
    }

    return output;
}

const blogs = unroll('blogs');
const local = unroll('friends');
const other = unroll('other');
const sources = unroll('sources');
---

<BaseLayout title={title} description={description} permalink={permalink} current="contact">
  <div class="container">
    <h1>Blogroll</h1>
    <p>Here's <a href="/blog/blogroll">a list of blogs I frequent or find interesting</a>. Curated by me.</p>
    <p>If you want to be on this list (or see something that needs changing), please <a href="/contact">reach out</a>.</a></p>
    <Foreword>
        Unfortunately, I've broken this with a recent half-assed upgrade to Astro.<br/>
        <strong>Fix coming soon.</strong> Still, <a href="/contact">reach out</a> if you want to be on here.
    </Foreword>
{
        local &&
        <div>
            <h2>Local</h2>
            <p>These blogs belong to people I have met in person, have worked with, or am friends with. Sometimes all of those.</p>
            <ul>
                {
                    local.map(li => {
                        if (li === undefined) return;
                        return (<li><BlogRollItem data={li.data}/></li>)
                    })
                }
            </ul>
        </div>
    }
    {
        blogs && 
        <div>
            <h2>Subscribed or frequented</h2>
            <p>I either subscribe to their newsletter, RSS feed, or will regularly visit this website.</p>
            <ul>
                {
                    blogs.map(li => {
                        if (li === undefined) return;
                        return (<li><BlogRollItem data={li.data}/></li>)
                    })
                }
            </ul>
        </div>
    }
    {
        other && 
        <div>
            <h2>Other nice blogs</h2>
            <p>Here are a bunch of other blogs that I've come across and enjoyed.</p>
            <ul>
                {
                    other.map(li => {
                        if (li === undefined) return;
                        return (<li><BlogRollItem data={li.data}/></li>)
                    })
                }
            </ul>
        </div>
    }
    {
        sources && 
        <div>
            <h2>Sources</h2>
            <p>These are websites where I find the stuff that goes in this blogroll.</p>
            <ul>
                {
                    sources.map(li => {
                        if (li === undefined) return;
                        return (<li><BlogRollItem data={li.data}/></li>)
                    })
                }
            </ul>
        </div>
    }
</div>
</BaseLayout>
