---
import BaseLayout from '../layouts/BaseLayout.astro';

const title = 'Credits';
const description = 'This site was built with some great tools, some of them open-source. You can find a list on this page.';
const permalink = `${Astro.site.href}credits`;
let allReleases = await Astro.glob('../data/releases/*.md');
const latestRelease = allReleases.sort((a, b) => new Date(b.frontmatter.publishDate).valueOf() - new Date(a.frontmatter.publishDate).valueOf()).find(a => a.frontmatter.tags.includes('release'));

---

<BaseLayout title={title} description={description} permalink={permalink} current="credits">
  <div class="container">
    <h1>Credits</h1>
    <p>This page was built with some great tools, some of them open-source. It's hosted on <a href="https://github.com/ademagic/ademagic.github.io/">GitHub Pages</a> and you can find the source code <a href="https://github.com/ademagic/site">on my site repo</a>.</p>
    <h3><a href="https://astro.build/">Astro</a></h3>
    <p>Astro is a web framework for building fast static websites. Super lean, super static, content-focused and UI agnostic.</p>
    <h3><a href="https://github.com/Charca/astro-blog-template">Astro Blog Template by Maxi Ferreira</a></h3>
    <p>A super-simple starter for Astro which I used to get my site up and running quickly.</p>
    <h3><a href="https://svelte.dev/">Svelte</a></h3>
    <p>A JavaScript framework for build-time JS compilation, which the Blog Template came preconfigured with.</p>
    <hr/>
    <h3>Latest Release</h3>
    <div class="post-item">
      <h2>
        <a href={`/releases/${latestRelease.file.split('/').pop().split('.').shift()}`}>{latestRelease.frontmatter.title}</a>
      </h2>
      <p>{latestRelease.frontmatter.description}</p>
      <div class="post-item-footer">
        <span class="post-item-date">— {latestRelease.frontmatter.publishDate}</span>
        <a class="post-item-date" href="/releases">Other releases</a>
      </div>
    </div>
  </div>
</BaseLayout>

<style>
  h2,
  .post-item-footer {
    font-family: var(--font-family-sans);
    font-weight: 700;
  }

  .post-item-date {
    color: var(--text-secondary);
    text-align: left;
    text-transform: uppercase;
    margin-right: 16px;
  }

  hr {
    margin: 60px auto;
  }
</style>