---
import FeaturedPost from '../components/FeaturedPost.astro';
import Tag from '../components/Tag.astro';
import BaseLayout from '../layouts/BaseLayout.astro';

const title = 'Hi there!';
const description = 'UI Developer from Sydney, Australia.';
const permalink = Astro.site.href;

let allPosts = await Astro.glob('../data/blog-posts/*.md');
const NUMBER_OF_LATEST_POSTS = 3;
const latestPosts = allPosts.sort((a, b) => new Date(b.frontmatter.publishDate).valueOf() - new Date(a.frontmatter.publishDate).valueOf()).slice(0, NUMBER_OF_LATEST_POSTS);

---

<BaseLayout title={title} description={description} permalink={permalink}>
  <div class="home-container hero">
    <div class="home-copy">
      <h1 class="home">Hi, I'm Miko.</h1>
      <p class="home">I'm a <span class="emphasis">Design-focused UI developer</span> from Sydney, Australia.<br/>I like working on Design Systems, UX, Accessibility and generally <span class="emphasis">making good things for good people</span>.</p>
      <p class="home">Reach out on <a rel="me" href="https://indieweb.social/@ademagic">the Elephant</a>, <a href="https://twitter.com/miko_a">the Bird</a>, or <a href="https://github.com/ademagic">the Octocat</a>. Or even <a href="https://linkedin.com/in/mikoademagic">the LinkedIn</a>.</p>
    </div>

    <!-- <div class="hero-image-container">
      <picture>
        <source srcset="/assets/home-illustration.webp" media="(min-width: 600px)">
        <img class="hero-image" alt="Illustration of person reading a book" src="/assets/home-illustration-small.webp" width="550" height="466">
      </picture>
    </div> -->
  </div>

  <div class="home-container latest">
    <div class="home-copy">
      <h2 class="home">Latest From The Blog</h2>
      <div class="grid">
        <div class="left">
          <FeaturedPost />
        </div>
  
        <div class="right">
          {latestPosts.map((post, index) => {
            const href = `/blog/${post.file.split('/').pop().split('.').shift()}`;
            return (
              <div>
                { index !== 0 && <hr /> }
                <div class="post-item">
                  <h2>
                    <a href={href}>{post.frontmatter.title}</a>
                  </h2>
                  <p>{post.frontmatter.description}</p>
                  <div class="post-item-footer">
                    <span class="post-item-date">— {post.frontmatter.publishDate}</span><br/>
                    <span class="post-item-date">{post.frontmatter.tags.map((tag) => <Tag text={tag} link={`/tags/${tag}`} />)}</span>
                  </div>
                </div>
              </div>
            )
          })}
          <p class="home"><a href="/blog">Browse the Blog ⟶</a></p>
        </div>
      </div>
    </div>
  </div>
</BaseLayout>

<style>
  .home-container {
    align-items: center;
    display: flex;
    flex: 1;
    justify-content: center;
    margin: 2em 0;
    min-height: 400px;
  }

  .hero {
    min-height: 75vh;
  }

  .home-copy {
    flex: 1;
    padding: 0 1em;
  }

  h1.home {
    font-weight: 700;
    margin-bottom: 0.5em;
    line-height: 1.3;
  }
  h2.home {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 0.5em;
    line-height: 1.3;
  }

  p.home {
    font-size: 1.4em;
  }

  .emphasis {
    background-color: var(--primary-color);
    color: var(--text-highlight);
    padding-left: 0.2em;
    padding-right: 0.2em;
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 6rem;
  }

  .hero-image-container {
    margin: 0 1em;
    text-align: center;
  }

  .hero-image-container picture {
    display: block;
    min-height: 250px;
  }

  .caption {
    font-size: .8em;
    font-style: italic;
    text-align: left;
  }

  .hero-image {
    width: 100%;
    max-width: 550px;
    margin-bottom: 1em;
  }

  .post-item h2 {
    margin-top: 0;
  }
  .post-item-footer {
    font-family: var(--font-family-sans);
    font-weight: 700;
  }

  .post-item-date {
    color: var(--text-secondary);
    text-align: left;
    text-transform: uppercase;
    margin-right: 16px;
  }

  .latest p.home {
    text-align: right;
  }

  @media (max-width: 1200px) {
    p {
      font-size: 1.2em;
    }

    .hero-image {
      max-width: 400px;
    }
  }

  @media (max-width: 800px) {

    .hero {
      min-height: 50vh;
    }
    .home-container {
      flex-direction: column;
    }

    .home-copy {
      flex: 0;
      padding-bottom: 2em;
    }

    .grid {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr;
    }
  }
</style>
