---
import BaseLayout from '../layouts/BaseLayout.astro';
import Card from '../components/Card.astro';

const title = 'Now';
const description = 'What I am focusing on at this point in my life. Based on nownownow.com';
const permalink = `${Astro?.site?.href}now`;

const response = await fetch(`http://ws.audioscrobbler.com/2.0?method=user.getrecenttracks&user=mikoa&api_key=af6e017e437cc163f02c30b67ef7caa9&format=json&limit=1&extended=1`);
const data = await response.json();
const track = data.recenttracks.track[0];

const readingCount = 238
const plusReadingCount = 10
const minusReadingCount = 21
---

<BaseLayout title={title} description={description} permalink={permalink}>
  <div class="container wide">
    <div class="grid">
      <div class="left">
        <h1>Now</h1>
        <p><a href="https://nownownow.com/about" target="_blank" rel="noreferrer noopener">Now</a> pages are more stable than a social media feed and less permanent than an <a href="/about">About</a> page. Updated monthly-ish.</p>
      </div>
      <div class="right">
        <Card>
          <ul class="nowlist">
            {track && <li>🎧:<a href={track.url}>{track.artist?.name} - {track.name}</a></li>}
            <li>📚: <a href="/blog/chipping-away-at-my-reading-list">{readingCount} <span class="sml plus">+{plusReadingCount}</span> <span class="sml minus">-{minusReadingCount}</span></a></li>
            <li>📖: <a href="https://amzn.asia/d/9Vyk7r2">Engineering Management for the Rest of Us - Sarah Drasner <span class="sml">25%</span></a></li>
            <li>🎸: <a href="https://open.spotify.com/track/2Mr7sMG4UAPK7q18m05pjM?si=f21b08d3a45e4d92">Francisco Tarrega - Gran Vals</a></li>
          </ul>
        </Card>
      </div>
    </div>
    <hr/>
    <h2>January</h2>
    <span class="date">10/01/25</span>
    <ul>
      <li>2025 is set to be a big one. Happy New Year!</li>
    </ul>
  </div>
</BaseLayout>

<style>
  .date {
    font-family: var(--font-family-sans);
    color: var(--text-secondary);
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  .right {
    margin-left: 3em;
  }

  .nowlist {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .sml {
    font-size: 1rem;
  }

  .plus {
    color: rgb(19, 190, 125);
  }

  .minus {
    color: rgb(202, 54, 54);
  }
</style>