---
import { getCollection } from 'astro:content';
import BaseLayout from '../../layouts/BaseLayout.astro';

const title = 'Releases';
const description = 'A somewhat curated written history of this website.';
const permalink = `${Astro.site.href}releases`;

let allReleases = await getCollection('releases');

const releasesByYear = allReleases.reduce((group, release) => {
  const year = new Date(release.data.publishDate).getFullYear();
  group[year] = group[year] ?? [];
  group[year].push(release);
  return group;
}, {});

const allYears = Object.keys(releasesByYear);
---

<BaseLayout title={title} description={description} permalink={permalink}>
  <div class="container">
    <h1>Releases</h1>
    <p>{description}</p>
    <p>You can check out more details in the <a href="https://www.github.com/ademagic/site">GitHub Repository</a>.</p>
    {
      allYears.reverse().map(year => {
        return (
          <div>
            <h2>{year}</h2>
            <ul>
              {
                releasesByYear[year]
                  .sort((a, b) => new Date(b.frontmatter.publishDate).valueOf() - new Date(a.frontmatter.publishDate).valueOf())
                  .map((post, index) => {
                    const href = `/releases/${post.file.split('/').pop().split('.').shift()}`;
                    return (
                      <li>
                        <p><a href={href}>{post.frontmatter.title}</a>: {post.frontmatter.description}</p>
                      </li>
                    )
                  })
              }
            </ul>
          </div>
        )
      })
    }
  </div>
</BaseLayout>

<style>
  ul {
    margin: 0;
    padding: 0;
  }
  li {
    margin: 0 0 1rem 1rem;
  }
</style>
