---
const { postImage, href, title, description, publishDate } = Astro.props;
---

<aside>
  <figure class="post-image-container">
    <div class="post-image"><slot name="postImage" /></div>
  </figure>
  <div class="post-item">
    <h3 class="post-item-title">
      <a href={href}>{title}</a>
    </h3>
    <p>{description}</p>
    <div class="post-item-footer">
      <span class="post-item-date">— {publishDate}</span>
      <span class="post-item-read"><a href={href}>Read</a></span>
    </div>
    <slot />
  </div>
</aside>

<style>
  aside {
    border: 1px solid var(--primary-color);
    box-shadow: -5px 5px 0 var(--primary-color-transparent);
  }

  .post-image-container {
    overflow: hidden;
    position: relative;
    margin-bottom: 0 !important;
  }

  .post-image {
    width: 100%;
    object-fit: cover;
    display: block;
  }

  .post-item {
    padding: 2rem 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .post-item-footer {
    font-family: var(--font-family-sans);
    font-weight: 700;
    font-size: 0.8rem;
  }

  .post-item-date {
    color: var(--text-secondary);
    text-align: left;
    text-transform: uppercase;
    margin-right: 16px;
  }

  .post-item-title {
    margin-top: 0;
    font-size: 1.6rem;
  }

  p {
    font-size: 1rem;
  }

  @media (min-width: 600px) {
    aside {
      display: grid;
      grid-template-columns: 1fr 1.6fr;
    }

    .post-image-container {
      order:2;
    }

    .post-image {
      height: 18em;
    }
  }
</style>
  