---
const { postImage, href, title, description, publishDate } = Astro.props;
---

<aside>
  <figure class="post-image-container">
    <div class="post-image"><slot name="postImage" /></div>
  </figure>
  <div class="post-item">
    <h3>
      <a href={href}>{title}</a>
    </h3>
    <p>{description}</p>
    <div class="post-item-footer">
      <span class="post-item-date">— {publishDate}</span>
      <span class="post-item-read"><a href={href}>Read</a></span>
    </div>
    <slot />
  </div>
</aside>

<style>
  aside {
    border: 1px solid var(--primary-color);
    box-shadow: -5px 5px 0 var(--primary-color-transparent);
    display: grid;
    grid-template-rows: 0.8fr 1fr;
  }

  .post-image-container {
    overflow: hidden;
    position: relative;
    margin-bottom: 0 !important;
  }
  
  .post-image > img {
    display: block;
    height: 12em;
    width: 100%;
    object-fit: cover;
  }

  .post-item {
    padding: 2rem 1.5rem;
  }

  .post-item-footer {
    font-family: var(--font-family-sans);
    font-weight: 700;
    font-size: 0.8rem;
  }

  .post-item-date {
    color: var(--text-secondary);
    text-align: left;
    text-transform: uppercase;
    margin-right: 16px;
  }

  h3 {
    margin-top: 0;
    font-size: 1.2rem;
  }

  p {
    font-size: 1rem;
  }
</style>
  